*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f5f3;
    line-height: 1,5;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

h1{
    font-family: "Nerko One", cursive;
    color: #ff9614;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.0767);

}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

button{
    display: flex;
    align-items: center;
    padding: 1rem;
    color: black;
    background-color: white;
    border-radius: 999px;
}

header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: white;
}

header h1{
    font-size: 4rem;
}

#main-container{
    margin: 0 auto;
    padding: 2rem;
}

#title-category{
    color: grey;
    margin-bottom: 0.5rem;
}

#main-title{
    font-size: 2rem;
    color: #4e3969;
    margin-bottom: 1rem;
}

#main-title span{
    display: none;
}

#recipe-section{
    margin-bottom: 2rem;
    background-color: white;

}

#recipe-video{
    width: 100%;
}

#recipe-video img{
    width: 100%;
}

#recipe-overview h3,
#recipe-overview li{
    margin-bottom: 1rem;
}

#social-section{
    margin-bottom: 2rem;
}

#social-section ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

#social-section i{
    font-size: 1.5rem;

}

#social-section span{
    display: none;
}

#subscribe-section{
    display: none;
    margin-bottom: 2rem;
}

#subscribe-section img{
    width: 100%;
}

#presentation-section{
    margin-bottom: 5rem;
}

#presentation-section h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

#presentation-img{
    margin: 1rem auto;
    width: 70%;
}

#presentation-img img{
    width: 100%;
}

#presentation-section article{
    font-size: 1.3rem;
}






/* tablet version */

@media screen and (min-width: 768px) {
    .row{

        width: 80%;
    }

    .col col-video{
        width: 100%;
    }

    .col col-info{
        width: 100%;
    }

    
}

/* desktop version */

@media screen and (min-width: 992px) {
    /* general rules */
    .row{
        display: flex;
        justify-content: space-between;

    }

    /* main part rules */
    #info-recipe .col-video{
        width: 70%;

    }

    #info-recipe .col-info{
        width: 30%;

    }

    .btn{
        padding: 15px 20px;
        border-radius: 25px;
        background-color: white;
    }

    /* footer rules */

    footer .col{
        width: 40%;
    }

    
}