*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f5f3;
    line-height: 1,5;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

h1{
    font-family: "Nerko One", cursive;
    color: #ff9614;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.0767);

}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

.button{
    display: flex;
    align-items: center;
    padding: 1rem;
    color: black;
    background-color: white;
    border-radius: 999px;
}

header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: white;
}

header h1{
    font-size: 4rem;
}

#main-container{
    margin: 0 auto;
    padding: 2rem;
}

#title-category{
    color: grey;
    margin-bottom: 0.5rem;
}

#main-title{
    font-size: 2rem;
    color: #4e3969;
    margin-bottom: 1rem;
}

#main-title span{
    display: none;
}

#recipe-section{
    margin-bottom: 2rem;
    background-color: white;

}

#recipe-video{
    width: 100%;
}

#recipe-video img{
    width: 100%;
}

#recipe-overview h3,
#recipe-overview li{
    margin-bottom: 1rem;
}

#social-section{
    margin-bottom: 2rem;
}

#social-section ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

#social-section i{
    font-size: 1.5rem;

}

#social-section span{
    display: none;
}

#subscribe-section{
    display: none;
    margin-bottom: 2rem;
}

#subscribe-section img{
    width: 100%;
}

#presentation-section{
    margin-bottom: 5rem;
}

#presentation-section h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

#presentation-img{
    margin: 1rem auto;
    width: 70%;
}

#presentation-img img{
    width: 100%;
}

#presentation-section article{
    font-size: 1.3rem;
}

footer{
    background-color: mediumpurple;
    color: white;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.2rem;
}

footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

#footer-left{
    margin-bottom: 1rem;

}

footer a{
    color: white;
}

footer a:hover{
    text-decoration: underline;
}


/* tablet version */

@media screen and (min-width: 768px) {

    header{
        justify-content: start;
    }

    #main-container{
        width: 90%;
    }

    #main-title{
        font-size: 2.5rem;
    }

    #main-title span{
        display: inline;
    }

    #recipe-overview ul{
        display: flex;
        flex-wrap: wrap;
        gap: 0.2rem;
    }

    .button{
        padding: 0.8rem 3rem;
    }

    .button span{
        display: none;
    }

    #subscribe-sectiom{
        display: block;
    }

    #presentation-img{
        margin: 0;
        width: 30%;
    }

    #presentation-img img{
        float: left;
    }margin-right: 15px;

/* desktop version */

@media screen and (min-width: 992px) {
    /* general rules */

    #main-container{
        width: 70%;
    }

    #main-title{
        font-size: 3rem;
        text-wrap: nowrap;
    }

    #recipe-section{
        display: flex;
        align-items: stretch;
    }

    #recipe-video{
        width: 70%;

    }

    #recipe-video img{
        width: 100%;
        height: 100%;
    }

    #recipe-overview ul{
        display: inline-block;
    }

    #recipe-section span{
        display: inline;
    }

    .button i{
        margin-right: 5px;
    }

    footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
    }